.message-box
{
    display: flex;
    width: 300px;
    height: 152px;
    border-radius: 12px;
    gap: 12px;
    .parte1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 244px;
        height: 68px;
        gap: 12px;
    }
    .parte2{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 244px;
        height: 16px;
        gap: 12px;  
    }
}